/* -------------------------------------------------------------------------- */
/*                                  Universal                                 */
/* -------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("bg.webp");
    background-size: cover;
    color: aliceblue;
    scroll-behavior: smooth;
}


h2 {
    margin-bottom: 0.5em;
}



/* -------------------------------------------------------------------------- */
/*                                    Main                                    */
/* -------------------------------------------------------------------------- */

/* Header */
header {
    width: 100vw;
    padding: 50px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.521);
    /* color: black; */
    /* text-align: center; */
}


button {
    padding: 1em;
    border-radius: 0.8em;
    border: none;
    background-color: aliceblue;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    width: 170px;
    cursor: pointer;
    transition: all 0.3s ease-out;

}

button:hover {
    transform: scale(1.07);
    opacity: 0.9;
}

input {
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    opacity: 0.8;
    text-align: center;
    margin: 10px auto;
    width: 300px;
}

.error {
    color: red;
    margin-top: 30px;
}


/* -------------------------------------------------------------------------- */
/*                                  Sections                                  */
/* -------------------------------------------------------------------------- */


.addContainer, .addressBook {
    padding: 2em 0;
    /* border-radius: 1em; */
    max-width: 1100px;
    text-align: center;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    background: #0000008f;
}

.addContainer {
    display: flex;
    flex-wrap: wrap;
}


label {
    display: block;
    font-size: 0.8rem;
    line-height: 20px;
}

/* -------------------------------------------------------------------------- */
/*                                Card Section                                */
/* -------------------------------------------------------------------------- */

#addressBook, .addressContainer {
    padding: 1em;
}

#addressBook .deleteBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
}

#addressBook img {
    width: 35px;
    height: auto;
}

#addressBook>div {
    position: relative;
    padding: 2em;
    margin: 1em auto;
    border-radius: 0.5em;
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(193 197 220) 100%);
    transition: all 0.3s ease-out;
    max-width: 1050px;
}

#addressBook>div:hover {
    transform: scale(1.1);
}

/* -------------------------------------------------------------------------- */
/*                                 Responsive                                 */
/* -------------------------------------------------------------------------- */


@media all and (min-width:560px) {



    .addContainer, .addressBook {
        padding: 2em;
    }

    .addContainer {
        display: block;
    }

    button {
        margin-left: auto;
    }

    .addContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}