
.App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-zoom 3s;
      border-radius: 5em;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  @keyframes App-logo-zoom {
    from {
      transform: scale(0.5);
      box-shadow: 1px 10px 78px 0px rgba(230,230,230,0.75);
      -webkit-box-shadow: 1px 10px 78px 0px rgba(230,230,230,0.75);
      -moz-box-shadow: 1px 10px 78px 0px rgba(230,230,230,0.75);    
    }
  }
  